/* *Global Styles */
:root{
  --main-color: #e65f78;
}

html {
    scroll-padding-top: 56px ;
}

body{
    font-family: "Nunito", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.btn-download {
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #fff;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #fff;
    --bs-btn-padding-x: 1.5625rem;
    --bs-btn-padding-y: .5rem;
    border-radius: 50px;
}

.btn-contact-form {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: .75rem;
    --bs-btn-color: #fff;
    --bs-btn-bg: #e65f78;
    --bs-btn-border-color: #e65f78;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #d54660;
    --bs-btn-hover-border-color: #d54660;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    border-radius: 0.25rem;

  }

.w-fit {
    width: -moz-fit-content;
    width: fit-content;
}

.max-w-500 {
    max-width: 500px;
}

.max-w-700 {
    max-width: 700px;
}

.text-gray {
    color: #eee;
}

.text-main {
    color: var(--main-color);
}

.bg-section {
    background-color: rgb(248, 249, 250,1);
}

/* *Navbar Styles */
.navbar-nav .nav-link.active {
    color: var(--main-color);
}

/* *Home Section Styles */
header {
    background-image: linear-gradient(#000a,#000a),url(../images/header-bg.jpg);
    background-size: cover;
    background-position: center;
}

abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
  }

  header .container {
    margin-top: 56px;
  }

  /* *About Section Styles */

  /* *Client Section Styles */
  .carousel-indicators [data-bs-target] {
    background-color: var(--main-color);
    height: 6px;
    width: 15px;
    border-radius: 5px;
    border: none;
  }

  .carousel-indicators .active {
    width: 30px;
  }

  /* *Portfolio Section Styles */

  .nav-pills .nav-link {
    --bs-nav-pills-border-radius: 6.25rem;
    --bs-nav-link-color: black;
    font-weight: 600;

  }

  .nav-pills .nav-link:hover {
    background-color: var(--main-color);
    color: white;
  }

  .nav-pills .nav-link.active {
    background-color: var(--main-color);
    --bs-nav-link-padding-x:16px;   
}

.portfolio .inner {
   position: relative;
}

.portfolio .inner::after {
    content: "";
    position: absolute;
    background-color: #000c;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 300ms;
}

.portfolio .inner:hover::after{
   opacity: 1;
}

.portfolio .layer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 999;
    transition: top 300ms;
}

.portfolio .inner:hover .layer {
    top: 0;
}

/* *Blog Section Styles */

/* *Contact Section Styles */

.contact .form-control:focus {
    border-color: var(--main-color);
    box-shadow: none;
}

.contact textarea {
    max-height: 300px;
    min-height: 150px;
}